<p-panel>
    <p-header>
      <div class="ui-helper-clearfix">
        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">PRODUCTOS</span>
        <div style="float: right;">
          <p-button label="Nuevo" icon="pi pi-save" [routerLink]="'/productos-form'"></p-button>
        </div>
      </div>
    </p-header>
    <p-table [value]="listAllProductos" class="centrarContenido">
      <ng-template pTemplate="header">
        <tr>
          <th class="botones">Id</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Notas</th>
          <th class="botones"></th>
          <th class="botones"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-producto>
        <tr>
          <td>{{producto.id}}</td>
          <td>{{producto.nombre}}</td>
          <td>{{producto.descripcion}}</td>
          <td>{{producto.notas}}</td>
          <td>
            <div id="pyxBtns">
              <p-button icon="pi pi-pencil" styleClass="ui-button-success" [routerLink]="['/productos-form/', producto.id]"></p-button>
            </div>
          </td>
          <td>
            <div style="text-align: center;">
              <p-button icon="pi pi-trash" styleClass="ui-button-danger" (onClick)="deleteProducto(producto.id)"></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>