<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">CLIENTES</span>
      <div style="float: right;">
        <p-button label="Nuevo" icon="pi pi-save" [routerLink]="'/cliente-form'"></p-button>
      </div>
    </div>
  </p-header>
  <p-table [value]="listAllClientes">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Nombre Empresa</th>
        <th>Nombre Contacto</th>
        <th>Direccion</th>
        <th>Email</th>
        <th>Telefono Fijo</th>
        <th>Telefono Fijo 2</th>
        <th>Telefono Movil</th>
        <th>Telefono Movil 2</th>
        <th>Sitio Web</th>
        <th>Notas</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
      <tr>
        <td>{{cliente.id}}</td>
        <td>{{cliente.nombres}}</td>
        <td>{{cliente.apellidos}}</td>
        <td>{{cliente.nombre_empresa}}</td>
        <td>{{cliente.nombre_contacto}}</td>
        <td>{{cliente.direccion}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.telefono_fijo}}</td>
        <td>{{cliente.telefono_fijo2}}</td>
        <td>{{cliente.telefono_movil}}</td>
        <td>{{cliente.telefono_movil2}}</td>
        <td>{{cliente.sitio_web}}</td>
        <td>{{cliente.notas}}</td>
        <td>
          <div style="text-align: center;">
            <p-button icon="pi pi-pencil" styleClass="ui-button-success" [routerLink]="['/cliente-form/', cliente.id]"></p-button>
          </div>
        </td>
        <td>
          <div style="text-align: center;">
            <p-button icon="pi pi-trash" styleClass="ui-button-danger" (onClick)="eliminarLinea(cliente.id)"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>