<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Nuevo
                    Producto</span>
                <div style="float: right;">
                    <button pButton type="submit" icon="pi pi-plus" label="Guardar" class="ui-button-info"
                        style="margin-right: .25em" *ngIf="!esModificar else elseBlock"></button>

                    <ng-template #elseBlock>
                        <button pButton type="submit" icon="pi pi-plus" label="Modificar" class="ui-button-info"
                            style="margin-right: .25em"></button>
                    </ng-template>

                    <button pButton type="reset" icon="pi pi-search" label="Cancelar" routerLink="/productos-list"
                        class="ui-button-success"></button>
                </div>
            </div>
        </p-header>
        <div class="ui-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4">
                <label for="nombre">Nombre Producto</label>
                <input id="nombre" type="text" formControlName="nombre" pInputText>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="descripcion">Descripcion</label>
                <input id="descripcion" type="text" formControlName="descripcion" pInputText>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <label for="notas">Notas</label>
                <textarea id="notas" type="text" rows="4" formControlName="notas" pInputTextarea></textarea>
            </div>
        </div>
        <p-footer>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px"></span>
                <div style="float: right;">
                    <button pButton type="submit" icon="pi pi-plus" label="Guardar" class="ui-button-info"
                        style="margin-right: .25em" *ngIf="!esModificar else elseBlock"></button>

                    <button pButton type="reset" icon="pi pi-search" label="Cancelar" routerLink="/productos-list"
                        class="ui-button-success"></button>
                </div>
            </div>
        </p-footer>
    </p-panel>
</form>