/* You can add global styles to this file, and also import other style files */
.botones {
    width:3.5rem;
}
.centrarContenido{
    justify-content: center;
    align-items: center;
}
#pyxBtns {
    text-align: center;
}