<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Nuevo
                    Lote</span>
                <div style="float: right;">
                    <button pButton type="submit" icon="pi pi-plus" label="Guardar" class="ui-button-info"
                        style="margin-right: .25em" *ngIf="!esModificar else elseBlock"></button>

                    <ng-template #elseBlock>
                        <button pButton type="submit" icon="pi pi-plus" label="Modificar" class="ui-button-info"
                            style="margin-right: .25em"></button>
                    </ng-template>

                    <button pButton type="reset" icon="pi pi-search" label="Cancelar" routerLink="/lotes-list"
                        class="ui-button-success"></button>
                </div>
            </div>
        </p-header>
        <div class="ui-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4">
                <label for="lote">Nombre Lote</label>
                <input id="lote" type="text" formControlName="lote" pInputText>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="fechaEntrada">Fecha de Ingreso</label>
                <p-calendar formControlName="fechaEntrada" showButtonBar="true" dateFormat="dd/mm/yy" dataType="string"></p-calendar>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="cantidad">Cantidad</label>
                <input id="cantidad" type="text" formControlName="cantidad" pInputText>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="proveedor">Proveedor</label>
                <p-dropdown [options]="listAllProveedores" optionLabel="nombreEmpresa" formControlName="proveedor"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="proveedor">Productos</label>
                <p-dropdown [options]="listAllProductos" optionLabel="nombre" formControlName="producto"></p-dropdown>
            </div>
        </div>
        <p-footer>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px"></span>
                <div style="float: right;">
                    <button pButton type="submit" icon="pi pi-plus" label="Guardar" class="ui-button-info"
                        style="margin-right: .25em" *ngIf="!esModificar else elseBlock"></button>

                    <button pButton type="reset" icon="pi pi-search" label="Cancelar" routerLink="/lotes-list"
                        class="ui-button-success"></button>
                </div>
            </div>
        </p-footer>
    </p-panel>
</form>